@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: left;
    align-items: left;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.nav-list {
    width: 50%;
    display: flex;
    align-items: center;
}

.nav-list li{
    list-style: none;
    padding: 26px 30px;
}

.nav-list li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.nav-list li a:hover{
    text-decoration: none;
    color: rgb(255, 0, 0);
}

.rightNav {
    width: 50%;
    text-align: right;
    padding: 0 23px;
}

#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}
.background {
    background: rgba(0, 0, 0, 0.7) url('bg.jpg');
    background-size: cover;
    background-blend-mode: darken;
}
.firstSection{
    height: 100vh;
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 65%;
}

.firstHalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondHalf{
    width: 50%;
}

.secondHalf img{
    width: 100%;
    padding: 4px 0;
    border: 5px solid white;
}

.text-big{
    font-size: 33px;
}

.text-small{
    font-size: 15px;
}

.btn{
    padding: 8px, 20px;
    margin: 8px 3px;
    border: 3px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
}

.btn-sm{
    padding: 6px 10px;
    vertical-align: middle;
    cursor: pointer;
}

.section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2px;
    max-width: 80%;
    margin: auto;
    font-family: 'Roboto Mono', monospace;
}
.section-left{
    flex-direction: row-reverse; 
}
.sectionTag{
    padding: 16px 0;
}
.imgFlood {
    padding: 90px 90px;
    height: 10%;
    width:80%;
    border-radius: 100px;
}
.sectionSubTag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.imgFlood{
    width: 250px;
}
.Volunteer {
    background: rgb(254, 246, 246);
    height: 533px;
}
.text-center{
    text-align:center;
    color: rgb(247, 243, 11);
    font-size: 35px;
    padding: 30px;
    font-family: 'Roboto Mono' , monospace;
    font-size: 35px;
}
.form{
    max-width: 62%;
    margin: 42px auto;
}
.backg{
    background: rgba(0, 0, 0, 0.7) url('volunteer-2055043__340.webp');
    background-blend-mode: darken;
    background-size: cover; 
}
.form input{
    margin: 14px 0;
    padding: 5px 3px;
    width: 100%;
    font-size: 20px;
    border: 2px solid blue;
    border-radius: 6px;
}
.centere{
    display: flex;
  justify-content: center;
  color: rgb(222, 22, 22);
  align-items: center;
  background: none;
  border-radius: 8px;
}
.centere button{
  border: 3px solid rgb(0, 0, 0);
  width: 50%;
  color: rgb(255, 0, 0);
  font-size: 20px;
  background-color: solid black;
  border-radius: 8px;
  cursor: pointer;
} 
.f{
    background-color: black;
}
.f p{
    color: white;
}
.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}
.line {
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px;
}
@media only screen and (max-width: 1140px){
    .nav-list{
        flex-direction: column;
        text-align: center;
    }
    .navbar{
        flex-direction: column;
        height: 550px;
        transition: all 0.6s ease-in-out;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .rightnav{
        text-align: center;
    }
    #search{
        width: 100%;
    }
    .btn-sm{
        width: 50%;
        margin: 57px;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 72px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .section{
        flex-direction: column-reverse;
    }
    .text-small{
        text-align: center;
    }
    .text-big{
        text-align: center;
    }
    .buttons{
        text-align: center;
    }
}
